.container{
    display: flex;
    flex-direction: column;
    height: 77px;
}

.main-label{
    font-weight: 400;
    --padding-bottom: 4px;
    color: var(--text-heading-icon);


    .required{
        color: var(--red-500-mode-1);
    }
}

input.main-input{
    margin-top: 4px;
    max-height: 34px;
    width: 250px;
    border: 1px solid #D8DBEB;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 0.875rem;
    width: 100%;

    &:focus{
        outline: none;
    }

    &.error-border {
        border: 1px solid #F31B1B;
    }

    &.success-border{
        border: 1px solid #00B21D;
    }
}

.message {
    margin: 4px 0;
    font-size: 0.813rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;

    p {
        margin: 0px;
    }
}

.error-message{
    color: #F31B1B;
}

input.main-input.isDisabled{
    border: 1px solid #9A9FB8FF;
    background-color: #D8DBEB;
    color: #D8DBEB;
}